[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "==2.25.1"
gunicorn = "==20.1.0"
bitrix24-rest = "==1.1.1"
python-json-logger = "==2.0.1"
dictdiffer = "==0.9.0"
Flask = "==1.1.2"
PyMySQL = "==1.0.2"
dbutils = "*"

[dev-packages]

[requires]
python_version = "3.8"
